<div class="container">
  <div class="py-3 text-center">
    <h3>Cadastro de Usuários</h3>
  </div>

  <div class="row">
    <div class="col-12 d-flex align-content-end justify-content-end pb-5">
      <a class="btn btn-primary" [href]="'/users'">VOLTAR</a>
    </div>
  </div>

  <div class="row d-flex align-content-center justify-content-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit(fileInput.files)">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
      </formly-form>

      <!-- preview da imagem -->
      <div class="row d-flex align-content-center justify-content-center">
        <img *ngIf="url" [src]="url" alt="Image Preview" width="200" height="200" />
      </div>

      <!-- input de arquivo escondido -->
      <input type="file" style="display: none" name="file" accept="image/*" [multiple]="false"
        (change)="onSelectNewFile($event)" #fileInput />

      <!-- botão para abrir o file picker -->
      <div class="row d-flex align-content-center justify-content-center pt-2">
        <input type="button" class="btn btn-primary" value="Escolher arquivo" (click)="fileInput.click()" />
      </div>

      <div class="col-12 d-flex align-content-center justify-content-center pt-5">
        <button class="btn btn-primary" type="submit">Salvar</button>
        <button class="btn btn-danger ms-2" type="reset">Cancelar</button>
      </div>
    </form>
  </div>
</div>