<div class="container">
  <div class="py-3 text-center">
    <h1>Cadastro de Usuários</h1>
  </div>

  <div class="row mb-4">
    <div class="col-12 d-flex justify-content-start">
      <a class="btn btn-secondary" routerLink="/users">VOLTAR</a>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="w-100" style="max-width: 500px;">
      <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form">
      </formly-form>

      <!-- Preview da imagem -->
      <div class="row d-flex justify-content-center my-2" *ngIf="url">
        <img [src]="url" alt="Preview da imagem" class="img-thumbnail" style="width: 200px; height: 200px;" />
      </div>

      <!-- Input de arquivo escondido -->
      <input type="file" accept="image/*" [multiple]="false" style="display:none" (change)="onSelectNewFile($event)"
        #fileInput />

      <div class="row d-flex justify-content-center mb-3">
        <button type="button" class="btn btn-sm btn-primary col-8" (click)="fileInput.click()">Escolher arquivo</button>
      </div>

      <div class="row d-flex justify-content-center gap-2 mb-2">
        <button type="submit" class="btn btn-sm btn-success col-4">Salvar</button>
        <button type="button" class="btn btn-sm btn-danger col-4" (click)="cancel()">Cancelar</button>
      </div>
    </form>
  </div>
</div>